.form-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .tabs {
    display: flex;
    justify-content: space-between;
  }
  
  .tabs button {
    flex: 1;
    padding: 10px;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
  }
  
  .tabs button.active {
    background-color: #3498db;
    color: white;
  }
  
  .form-content {
    margin-top: 20px;
  }
  
  .form-panel {
    display: none;
  }
  
  .form-panel.active {
    display: block;
  }
  
  .user-fields input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  #loginform input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  .role-selection {
    margin-bottom: 20px;
  }
  